coverage==6.5.0
Django==2.2.6
django-debug-toolbar==3.2.4
flake8==5.0.4
importlib-metadata==4.2.0
mccabe==0.7.0
Pillow==7.0.0
pycodestyle==2.9.1
pyflakes==2.5.0
pytils==0.3
pytz==2019.3
sorl-thumbnail==12.9.0
sqlparse==0.4.3
typing_extensions==4.4.0
zipp==3.10.0
