<!DOCTYPE html>
<html lang="ru">
  <head>
    {% extends 'base.html' %}
  </head>
  <body>
    <main>
      {% block content %}
      <div class="container">
    <title> Записи сообщества {{ group.title  }}</title>
    <h1>Группа: {{ group.title }} </h1>
    <p>Описание: {{ group.description }}</p>

  {% for post in posts %}
   <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
           Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      {% include 'includes/post.html' %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
   </article>
  </div>
      {% endblock %}
    </main>
  </body>
</html>